@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.mainPage {
    background: url(./img/BacgroundMainPage.svg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.title {
    margin-top: 14.8vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 6vh;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12.5vmin;
    line-height: 140%;
    text-shadow: 0px 0px 25px #2692ec, 0px 0px 15px #2692ec;
}

.subtitle {
    width: 90vw;
    height: 13vh;
    margin-top: 3.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5.6vmin;
    line-height: 140%;
    color: #f5f5f5;
    text-shadow: 0px 0px 15px rgba(38, 146, 236, 0.75);
}

.course {
    width: 43.7vw;
    height: 6.1vh;
    margin-top: 70px;
    margin-left: 28.1vw;
    margin-right: 28.1vw;
    background: #ffffff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4.37vmin;
    line-height: 130%;
    color: #000000;
    text-align: center;
}

.course p,
.practice p {
    padding-top: 1.4vh;
}

.practice {
    width: 43.75vw;
    height: 6.14vh;
    margin-top: 5.26vh;
    margin-left: 28.12vw;
    margin-right: 28.12vw;
    background: #ffb81a;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4.37vmin;
    line-height: 130%;
    color: #000000;
    text-align: center;
}

.down {
    margin-top: 14.9vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 4.37vmin;
    line-height: 100%;
    color: white;
}

.arrow {
    margin-top: 1vh;
}
