.btn {
    width: 8.43vw;
    height: 2.8vh;
    margin-right: 2vh;
    position: relative;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    background: white;
    width: 8.43vw;
    height: 0.52vh;
}

.mediumLine {
    position: absolute;
    top: 1.1vh;
    background: white;
    width: 8.43vw;
    height: 0.52vh;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 8.43vw;
    background: white;
    height: 0.52vh;
}

.fixedBtn {
    width: 7.05vw;
    height: 2.28vh;
    margin-right: 2vh;
    position: relative;
}

.fixedBtn::before {
    content: '';
    position: absolute;
    top: 0;
    background: white;
    width: 7.05vw;
    height: 0.35vh;
}

.fixedMediumLine {
    position: absolute;
    top: 1vh;
    background: white;
    width: 7.05vw;
    height: 0.35vh;
}

.fixedBtn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 7.05vw;
    height: 0.35vh;
    background: white;
}
