.twoLine {
    width: 8.43vw;
    height: 2.8vh;
    position: relative;
}
.twoLine::before {
    content: '';
    right: 0;
    position: absolute;
    top: 0;
    background: white;
    width: 8.43vw;
    height: 0.52vh;
}

.twoLine::after {
    content: '';
    position: absolute;
    bottom: 0.2vh;
    width: 8.43vw;
    right: 0;
    background: white;
    height: 0.52vh;
}

.mediumLine {
    position: absolute;
    top: 1vh;
    background: white;
    width: 8.43vw;
    height: 0.52vh;
    right: 0;
}

.fixedTwoLine {
    width: 7.05vw;
    height: 2.28vh;

    position: relative;
}

.fixedTwoLine::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 7.05vw;
    height: 0.35vh;
}

.fixedTwoLine::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0.2vh;
    width: 7.05vw;
    height: 0.35vh;
    background: white;
}

.fixedMediumLine {
    position: absolute;
    top: 0.87vh;
    right: 0;
    background: white;
    width: 7.05vw;
    height: 0.35vh;
}
