.slider_transform.is-active {
    transform: scale(1.1);
    transition: transform 0.3s;
}
.slider_transform.is-active .slider {
    box-shadow: 0px 0px 15px #ffb81a;
    border: 1px solid black;
}
.slider_transform {
    transform: scale(1);
    transition: transform 0.3s;
}

.slider_transform .slider {
    border: 1px solid #2692ec;
    box-shadow: 0px 0px 15px rgba(255, 184, 26, 0.3);
}

.slider_transform .sliderBtn {
    background: #2692ec;
}
.slider_transform.is-active .sliderBtn {
    background: #ffb81a;
}
