.burgerMenu {
    height: 12.1vh;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
.mvpIcon {
    width: 22.18vw;
    height: 5.61vh;
    padding: 5vw;
    position: absolute;
}
.mvpIconImg {
    width: 22.18vw;
    height: 5.61vh;
}

.burgerIcon {
    margin-right: 5vw;
    margin-top: 4.21vh;
    float: right;
}

.fixed {
    position: fixed;
    height: 10vh;
}

.fixedImg {
    width: 15.62vw;
    height: 8.77vh;
}
.fixedIcon {
    width: 22.18vw;
    height: 5.61vh;
    padding: 2.5vw;
}
