.burgerMenu {
    height: 11.1vh;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
}
.mvpIcon {
    width: 22.18vw;
    height: 5.61vh;
    padding: 5vw;
    position: absolute;
}
.mvpIconImg {
    width: 22.18vw;
    height: 5.61vh;
}

.burgerIcon {
    margin: 4.82vh 5vw 4.82vh 86.56vw;
}

.fixed {
    position: fixed;
    height: 9.43vh;
}

.fixedImg {
    width: 15.62vw;
    height: 8.77vh;
}
.fixedIcon {
    width: 22.18vw;
    height: 5.61vh;
    padding: 2.5vw;
}

.fixedBurgerIcon {
    margin: 3.82vh 5vw 4.82vh 86.56vw;
}
